<footer
    class="mt-10 grid grid-cols-3 text-center grid-rows-2 tablet:grid-rows-1 laptop:grid-rows-1 desktop:grid-rows-1 tablet:grid-cols-5 desktop:grid-cols-7">
    <div
        class="col-start-1 col-span-3 row-start-1 mx-auto tablet:col-start-1 tablet:row-start-1 laptop:col-start-1 laptop:row-start-1 desktop:col-start-1 desktop:row-start-1">
        <a href="index.html"><img src="./assets/images/grancanariaChess.png" alt="Logo de la página." width="100px"
                height="100px"></a>
    </div>
    <div
        class="col-start-1 row-start-2 tablet:col-start-3 laptop:col-start-3 desktop:col-start-5 tablet:row-start-1 laptop:row-start-1 desktop:row-start-1">
        <a class="link-menu" href="members.html">Miembros</a>
    </div>
    <div
        class="col-start-2 row-start-2 tablet:col-start-4 laptop:col-start-4 desktop:col-start-6 tablet:row-start-1 laptop:row-start-1 desktop:row-start-1">
        <a class="link-menu" href="">Artículo</a>
    </div>
    <div
        class="col-start-3 row-start-2 tablet:col-start-5 laptop:col-start-5 desktop:col-start-7 tablet:row-start-1 laptop:row-start-1 desktop:row-start-1">
        <a class="link-menu " href="">Utilidades</a>
    </div>
</footer>