<header class="grid grid-cols-1 text-center grid-rows-1 tablet:grid-cols-5 laptop:grid-cols-5 desktop:grid-cols-7">
  <div class="col-start-1 mx-auto tablet:col-start-2 laptop:col-start-2 desktop:col-start-4">
    <a href="index.html" class="m-0 relative top-1/2 transform:translate-y-1/2"><img
        src="./assets/images/grancanariaChess.png" alt="Logo de la página." width="100px" height="100px"></a>
  </div>
  <div class="col-start-1 tablet:col-start-3 laptop:col-start-3 desktop:col-start-5">
    <a class="m-0 mr-10 relative top-1/2 transform:translate-y-1/2" href="members.html">Miembros</a>
  </div>
  <div class="col-start-1 tablet:col-start-4 laptop:col-start-4 desktop:col-start-6">
    <a class="m-0 mr-10 relative top-1/2 transform:translate-y-1/2" href="">Artículo</a>
  </div>
  <div class="col-start-1 tablet:col-start-5 laptop:col-start-5 desktop:col-start-7">
    <a class="m-0 mr-10 relative top-1/2 transform:translate-y-1/2" href="">Utilidades</a>
  </div>
</header>